<!DOCTYPE html>
<html lang="es">

<head>
	<title>Formulario</title>
	<meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>


	<div id="envoltura">
		<div id="contenedor">

			<div id="cabecera">

			</div>

			<div id="cuerpo">
				<form id="form-login" action="" method="post" autocomplete="off">

				 <p>	<label > Usuario: </label></p>
           <input name="usuario" type="text" id="usuario" placeholder="Ingresa Usuario" autofocus="" required="">
      
 
         <p><label> Contraseña: </label> </p>
            <input name="contrasenia" type="password" id="contrasenia" placeholder="Ingresa Password" required="">
                       
 
         <p id="bot">
           <input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>
                </form>
            </div>
 
            <div id="pie">Sistema de Login Y Registro</div>
        </div>
    </div>
</body>
 
</html>